
* {
    box-sizing: border-box;
}

#wrapper {
    width: 1200px;
    margin: 30px auto;
    border: 1px solid black;
}
#header {
    height: 250px;
    padding: 20px;
    border: 1px solid black;
}
#container {
    display: flex;
}
#content {
    width: 860px;
    height: 900px;
    padding: 20px;
    border: 1px solid black;
}
#sidebar {
    width: 300px;
    margin-right: 40px;
    padding: 20px;
    border: 1px solid black;
}
#footer {
    height: 100px;
    padding: 20px;
    border: 1px solid black;
}


#wrapper1 {
    width: 1200px;
    margin: 30px auto;
    border: 1px solid black;
}
#header1 {
    height: 250px;
    padding: 20px;
    border: 1px solid black;
}
#container1 {
    display: flex;
}
#content1 {
    width: 860px;
    height: 900px;
    padding: 20px;
    border: 1px solid black;
}
#sidebar1 {
    width: 300px;
    margin-left: 40px;
    padding: 20px;
    border: 1px solid black;
}
#footer1 {
    height: 100px;
    padding: 20px;
    border: 1px solid black;
}


