#parent {
	display: grid;
	grid-template-columns: 150px 150px 150px;
	border: 2px solid #696989;
	padding: 10px;
	width: 450px;
}
#parent > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent1 {
	display: grid;
	grid-template-columns: 200px 200px;
	border: 2px solid #696989;
	padding: 10px;
	width: 450px;
}
#parent1 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent2 {
	display: grid;
	grid-template-columns: 100px 150px 200px;
	border: 2px solid #696989;
	padding: 10px;
	width: 450px;
}
#parent2 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 450px;
}
#parent3 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 450px;
}
#parent4 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent5 {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 450px;
}
#parent5 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent6 {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 450px;
}
#parent6 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent7 {
	display: grid;
	grid-template-columns: 1fr 1.5fr 2.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 450px;
}
#parent7 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent8 {
	display: grid;
	grid-template-columns: 100px 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 450px;
}
#parent8 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent9 {
	display: grid;
	grid-template-columns: 100px 1fr 1.5fr 100px;
	border: 2px solid #696989;
	padding: 10px;
	width: 450px;
}
#parent9 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent10 {
	display: grid;
	grid-template-columns: 20% 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 500px;
}
#parent10 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent11 {
	display: grid;
	grid-template-columns: 100px 20% 1fr 2fr 4fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent11 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent12 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent12 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent13 {
	display: grid;
	grid-template-columns: repeat(4, 100px) repeat(3, 2fr);
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent13 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent14 {
	display: grid;
	grid-template-columns: repeat(2, 100px) repeat(3, 200px) 1fr repeat(2, 10%);
	border: 2px solid #696989;
	padding: 10px;
	width: 1200px;
}
#parent14 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent15 {
	display: grid;
	grid-template-columns: 200px auto;
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent15 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent16 {
	display: grid;
	grid-template-columns: 100px 150px auto;
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent16 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent17 {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	border: 2px solid #696989;
	padding: 10px;
}
#parent17 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent18 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
    width: 900px;
}
#parent18 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent19 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
    width: 450px;
}
#parent19 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent20 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
    width: 300px;
}
#parent20 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent21 {
	display: grid;
	grid-template-rows: 100px 150px 200px;
	border: 2px solid #696989;
	padding: 10px;
    width: 300px;
}
#parent21 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent22 {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	border: 2px solid #696989;
	padding: 10px;
    width: 300px;
}
#parent22 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent23 {
	display: grid;
    grid-template: 1fr 2fr/ 1fr 2fr 2fr 4fr;
	border: 2px solid #696989;
	padding: 10px;
    width: 600px;
    height: 200px;
}
#parent23 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent24 {
	display: grid;
    grid-template: 1fr 2fr/ 2fr 1fr 1fr 2fr;
	border: 2px solid #696989;
	padding: 10px;
    width: 600px;
    height: 200px;
}
#parent24 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent25 {
	display: grid;
    grid-template: 1fr 1fr 2fr 4fr/ 1fr 4fr 12fr;
	border: 2px solid #696989;
	padding: 10px;
    width: 700px;
    height: 300px;
}
#parent25 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent26 {
	display: grid;
    grid-template: 2fr 1fr 1fr/ 2fr 1fr 2fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
    width: 700px;
    height: 300px;
}
#parent26 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent27 {
	display: grid;
    grid-template: 3fr 1fr/ 1fr 1fr 2fr 4fr 4fr;
	border: 2px solid #696989;
	padding: 10px;
    width: 700px;
    height: 300px;
}
#parent27 > div {
	padding: 10px;
	border: 1px solid #696989;
  
}
#parent28 {
	display: grid;
    grid-template-columns: 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
    width: 400px;
    height: 300px;
}
#parent28 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#character1{
    grid-row: 1/2;
}
#character2{
    grid-row: 2/3;
}
#character3{
    grid-row: 1/2;
}
#character4{
    grid-row: 2/4;
}
#character5{
    grid-row: 3/4;
}
#parent29 {
	display: grid;
    grid-template-columns: 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
    width: 400px;
    height: 300px;
}
#parent29 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#character6{
    grid-row: 1/5;
}
#character7{
    grid-row: 1/2;
}
#character8{
    grid-row: 2/3;
}
#character9{
    grid-row: 3/4;
}
#character10{
    grid-row: 4/5;
}
#parent30 {
	display: grid;
	border: 2px solid #696989;
	padding: 10px;
    width: 400px;
    height: 300px;
}
#parent30 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#character11{
    grid-row: 1/2;
}
#character12{
    grid-row: 1/3;
}
#character13{
    grid-row: 2/3;
}
#character14{
    grid-row: 3/5;
}
#character15{
    grid-row: 3/5;
}
#character16{
    grid-column: 1/2;
}
#character17{
    grid-column: 2/4;
}
#character18{
    grid-column: 1/3;
}
#character19{
    grid-column: 3/4;
}
#character20{
    grid-column: 1/4;
}
#character21{
    grid-column: 1/2;
}
#character22{
    grid-column: 2/3;
}
#character23{
    grid-column: 3/4;
}
#character24{
    grid-column: 1/4;
}
#character25{
    grid-column: 1/2;
}
#character26{
    grid-column: 2/5;
}
#character27{
    grid-column: 5/6;
}
#character28{
    grid-column: 1/3;
}
#character29{
    grid-column: 3/6;
}
#character30{
    grid-column: 1/4;
}
#character31{
    grid-column: 4/6;
}
#parent31 {
	display: grid;
	border: 2px solid #696989;
	padding: 10px;
    width: 400px;
    height: 300px;
	grid-template-columns: 1fr 1fr 1fr;
}
#parent31 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#character32{
    grid-column: 1/2;
}
#character33{
    grid-column: 2/3;
}
#character34{
    grid-column: 3/4;
}
#character35{
    grid-column: 1/3;
}
#character36{
    grid-column: 3/5;
}
#character37{
    grid-column: 1/6;
}
#character38{
	grid-row: 1 / 3;
	grid-column: 1 / 3;
}
#character39{
    grid-row: 1 / 2;
  grid-column: 3 / 4;
}
#character40{
    grid-row: 2 / 3;
  grid-column: 3 / 4;
}
#character41{
	grid-row: 3 / 4;
	grid-column: 2 / 4;
}
#character42{
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}
#character43{
    grid-row: 4 / 6;
  grid-column: 1 / 4;
}
#parent32 {
	display: grid;
	border: 2px solid #696989;
	padding: 10px;
    width: 400px;
    height: 300px;
}
#parent32 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#character44{
	grid-column: 1 / 3;
}
#character45{
	grid-column: 2 / 4;
}
#character46{
  grid-column: 3 / 5;
}
#character47{
	grid-column:  1 / 3;
}
#character48{
	grid-column: 2 / 5;
}
#character49{
  grid-column: 1 / 4;
}
#character50{
	grid-column: 3 / 5;
}
#character51{
	grid-column: 1 / 4;
}
#character52{
	grid-column:  1 / 3;
}
#character53{
	grid-column: 3 / 5;
}
#character54{
  grid-column: 2 / 4;
}
#character55{
	grid-column: 1 / 3;
}
#character56{
	grid-column: 2 / 5;
}
#parent33 {
	display: grid;
	column-gap: 20%;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent33 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent34 {
	display: grid;
	row-gap: 25%;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent34 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent35 {
	display: grid;
	gap: 10px;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent35 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent36 {
	display: grid;
	gap: 10px 5%;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent36 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent37 {
	width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border: 2px solid #696989;
}

#parent37 > div {
	height: 100px;
	padding: 10px;
	border: 1px solid #696989;
}
#parent38 {
	width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 4fr;
    grid-gap: 10px;
    border: 2px solid #696989;
}

#parent38 > div {
	height: 100px;
	padding: 10px;
	border: 1px solid #696989;
}
#parent39 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	border: 2px solid #696989;
	width: 600px;
}

#parent39 > div {
	height: 100px;
	padding: 10px;
	border: 1px solid #696989;
}