.zadanie28-2 {
    td {
        width: 400px;
        height: 300px;
    } 
  }
.zadanie25-1 {
    p{
    color: red;
  }
}
.zadanie28-1{
    p{
        width: 300px;
    }
}
.praktikaCssViravnivanie
{
    h1 {
        text-align: right;
    }

    h2 {
        width: 300px;
        text-align: center ;
    }

    table {
        width: 500px;
    }

    th {
        text-align: left;
    }

    td {
        text-align: center;
    }
    p
    {
        width: 300px;
        text-align: justify;
    }
}
.zadanie35-1{
    table{
        width: 500px;
        height: 300px;
    }
    th{
        font-weight: normal;
    }
    td{
        text-align: center;
        font-weight: bold;
    }
}
.zadanie37-1{
    h1{
        font-size: 50px;
        text-align: center;
    }
    h2{
        font-size: 40px;
        font-weight: normal;
    }
    p {
        font-size: 30px;
    }
}
.zadanie38-1 {
    h1 {
        font-family: Arial;
    }
    h2 {
        font-family: Georgia;
    }
    h3 {
        font-family: Verdana;
    }
    h4 {
        font-family: "Trebuchet MS";
    }
    h5 {
        font-family: Impact;
    }
    h6 {
        font-family: "Arial Black";
    }

    p {
        font-family: "Comic Sans MS";
    }
}

.zadanie36-1{
h2 {
    font-style: italic;
}
}
.zadanie39-1{
    p {
        font-size: 30px;
        line-height: 45px;
    }
}
.zadanie40-1{

    p {
        font-size: 30px;
        line-height: 1.5;
    }
    
    }
.zadanie41-1{
    p {
        font: 13px/20px "Times New Roman";
    }
}
.zadanie41-2{
    p { width: 300px;
        font: bold 40px Arial;
        color: red;
    }
}
.zadanie41-3{
    p {
        font: italic bold 40px/60px Arial;
        text-indent: 50px;
    }
}
.zadanie42-1{
    p {
        text-indent: 50px;
        text-align: justify;
        width: 400px;
    }
}
.zadanie44-1{  
        p {
            text-decoration: underline;
            font: Arial;
            color: black;
        }
}
.zadanie45-1{  
    p {
        color: red;
        text-decoration: overline;
        
    }
}
.zadanie46-1{  
    p {
        color: green;
        text-decoration: line-through;
        
    }
}
.zadanie47-1{
    a{
        text-decoration: none;
        color: red;
    }
    p{
        color: black;
    }
}
h1 {
    color: green;
    
}
h2 {
    color: lightblue;
}
h3 {
    color: red;
}
h4 {
	color: #FF4800;
}
h5 {
    color: rgb(113, 9, 170)
}

p{
    color:orange;
}
